<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Browse Products</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Browse Products</title>
</head>
<body>
    <div class="container-sm">
        <div class="card-body">
            <h2 class="card-title">Personal Data</h2>
            <form action="/browseProducts" method="POST">
                <div class="form-group">
                    <label for="category">Choose a category:</label>
                    <select name="category" id="category">
                        <option value="Root">All</option>
                        {% for i in result1 %}
                        <option value= "{{ i }}">{{ i }}</option>
                        {% endfor %}
                    <!--
                    <select name="category" id="category">
                        <option value="Root">All</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Tops">Tops</option>
                        <option value="Bottoms">Bottoms</option>
                        <option value="Sleepwear">Sleepwear</option>
                        <option value="Bodysuits">Bodysuits</option>
                        <option value="Long Sleeves">Long Sleeves</option>
                        <option value="T-Shirts">T-Shirts</option>
                        <option value="Pants">Pants</option>
                        <option value="Skirts">Skirts</option>
                        <option value="Jeans">Jeans</option>
                        <option value="Bath Robes">Bath Robes</option>
                        <option value="Electrical Supplies">Electrical Supplies</option>
                        <option value="Cell Phones">Cell Phones</option>
                        <option value="Tv & Home Theater">Tv & Home Theater</option>
                        <option value="Wearable Technology">Wearable Technology</option>
                        <option value="75-Inch Tvs">75-Inch Tvs</option>
                        <option value="65-Inch Tvs">65-Inch Tvs</option>
                        <option value="55-Inch Tvs">55-Inch Tvs</option>
                        <option value="Apple Watch">Apple Watch</option>
                        <option value="Headphones">Headphones</option>
                        <option value="Wireless Headphones">Wireless Headphones</option>
                        <option value="Beauty Products">Beauty Products</option> -->
                    </select>
                    <button type="submit" class="btn btn-primary">Enter</button>
                </div>
            </form>
            <table class="table table-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Seller Email</th>
                </tr>
                <tbody>
                {% for title, productName, productDesc, price, category, sellerEmail in result %}
                    <tr>
                        <td> {{ title }} </td>
                        <td> {{ productName }} </td>
                        <td> {{ productDesc }} </td>
                        <td> {{ price }} </td>
                        <td> {{ category }} </td>
                        <td> {{ sellerEmail }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="/buyerPage" role="button">Go back to Buyer Page</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>